.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
logs
.rebar
_build
.idea
*.iml
rebar3.crashdump
*~

# Local TLS certificates
local/*.pem
local/*.key
local/*.cfg
local/*.srl
local/*.csr
local/*.rel

# Web
src_web/node_modules
src_web/.env

# Static files
# priv/web/static
