%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{deps, [
    {ranch, "2.2.0"},
    {cowboy, "2.13.0"},
    {braidnode, {git, "https://github.com/stritzinger/braidnode.git", {branch, "main"}}}
]}.

{overrides, [
    %% Fix issue with rebar3 handling of cowlib required versions
    {override, cowboy, [{deps, [{cowlib, "~> 2.0"}]}]}
]}.

{profiles, [
    {test, [
        {deps, [
            gun
        ]}
    ]}
]}.

{plugins, [
    {rebar3_docker, {git, "https://github.com/stritzinger/rebar3_docker.git", {branch, "main"}}}
]}.

% {pre_hooks, [
%     {compile, "sh ./frontend.sh"}
% ]}.

{shell, [
    {config, "config/shell.config"},
    {apps, [ro2erl_hub, runtime_tools]}
]}.

{relx, [
    {release, {ro2erl_hub, "0.1.0"}, [
        sasl,
        runtime_tools,
        ro2erl_hub
    ]},
    {sys_config, "config/sys.config"},
    {include_src, false},
    {include_erts, true}
]}.

{minimum_otp_vsn, "27"}.

{docker, [
    {builder_image, "erlang:27-alpine"},
    {tag, "grisp/ro2erl_hub"},
    {build_packages, [
        make,
        gcc,
        "libc-dev",
        "libbsd-dev",
        "g++"
    ]},
    {runtime_packages, []},
    {ports, []},
    {env, [
        {'LOGGER_LEVEL', debug}
    ]},
    {platform, ["linux/amd64"]}
]}.
