%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{profiles, [
    {prod, [
        {deps, [
            {braidnode, {git, "https://github.com/stritzinger/braidnode.git", {branch, "main"}}}
        ]}
    ]}
]}.

{plugins, [
    {rebar3_docker, {git, "https://github.com/stritzinger/rebar3_docker.git", {branch, "main"}}}
]}.

{shell, [
    {config, "config/shell.config"},
    {apps, [ro2erl_hub, runtime_tools]}
]}.

{relx, [
    {release, {ro2erl_hub, "0.1.0"}, [
        sasl,
        runtime_tools,
        braidnode,
        ro2erl_hub
    ]},
    {sys_config, "config/sys.config"},
    {include_src, false},
    {include_erts, true}
]}.

{minimum_otp_vsn, "27"}.

{docker, [
    {builder_image, "ziopio/hacked_ssl_erlang"},
    {tag, "local/ro2erl_hub:0.1.0"},
    {build_packages, [
        make,
        gcc,
        "libc-dev",
        "libbsd-dev",
        "g++"
    ]},
    {runtime_packages, []},
    {ports, []},
    {env, [
        {'LOGGER_LEVEL', debug}
    ]}
]}. 
