[
    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                level => debug,
                formatter => {logger_formatter, #{
                    legacy_header => false,
                    single_line => true
                }}
            }}
        ]}
    ]}
].
