[
    {braidnode, [
        {braidnet_domain, "localhost"},
        {braidnet_port, 9090}
    ]},
    {kernel, [
        {connect_all, false},
        {logger_level, notice},
        {logger, [
            {handler, default, logger_std_h, #{
                level => notice,
                formatter => {logger_formatter, #{
                    legacy_header => false,
                    single_line => true
                }}
            }}
        ]}
    ]}
].
